
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Playwrite US Modern", cursive;
    text-decoration: none;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}
body{
    overflow-x: hidden;
}
.hero-header{
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.wrapper{
    width:1280px;
    max-width: 95%;
    
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width:45px;
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property:  transform, opacity;

}

nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
    margin-right:10px;
}
nav .navlinks li a{
     color:#e5e5e5;
     margin-right: 2.5rem;
}
nav .navlinks li a:hover{
    color:blue;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:7rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color:#e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color:#007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    color:#e5e5e5;

}
.btn-group{
    margin:45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn-group a:hover{
    color:blue;
}
.btn.active{
    border-color: #007ced;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color:#007ced;
    transform: rotate(360deg);
}
.heading {
    font-size: 2.8rem;
    text-align: center;
    margin: 5rem 0;
    color:var(--main-color)
}
 /*  Education  */


 .eddu {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    text-align: center; /* Center aligns all text inside .eddu */
    background:var(--second-bg-color);
}

h1 {
    font-size:2.8rem;
    margin-bottom: 20px;
    color:var(--main-color);
}

.education-item {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-item h2 {
    font-size:2rem;
    margin-bottom: 10px;
    color:block;
}

@media (max-width: 768px) {
    

    .education-item {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 4em;
    }

    .education-item h2 {
        font-size: 1.2em;
    }

    .education-item p {
        font-size: 0.9em;
    }
}



/*   Skills*/

.skills-section {
    padding: 30px;
    text-align: center;
    background: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-section h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: var(--main-color);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    width: 200px;
    padding: 20px;
    background-color: #e7e7e7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skill i {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #007BFF;
}

.skill h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    height: 20px;
    border-radius: 20px;
    background-color: #007BFF;
    color: #fff;
    line-height: 20px;
    text-align: center;
}



.main-text{
    text-align: center;
    background: var(--second-bg-color);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.8rem;
    color: var(--main-color);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    padding: 20px;
    gap: 2.5rem;
    background: var(--second-bg-color);
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #00a6ff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;

}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.row:hover img {
    transform: scale(1.1);

}

.row:hover .layer {
    height: 100%;
}

.containerr {
    background: var(--bg-color);
    color: wheat;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack children vertically */
    margin: auto; /* Center the container itself */
    max-width: 100%; /* Limit the width to 50% */
}
.ff{
    width: 50%;
}

h2 {
    margin-top: 0;
    color: var(--main-color);
    text-align: center;
    font-size:2.8rem;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }
}
/* Respnosiv design & displaying navbar for small screen */
@media (max-width: 768px){
    *{
        box-sizing:border-box;
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        
    }
    @media (max-width: 768px) {
        #home {
          padding-top: 100px;
        }
      }

    .hero-pic, .hero-text {
        flex: 1 1 100%;
    }
    .hero-text {
        text-align:center;
        padding: 10px;
    }
}

@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for toggle button**/
    .click {
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top:110px;
        right:-100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
    }
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    }
}